.#{$navigation}{
    background-color: $grey;
    @include flex(row,nowrap,center);
}

.#{$highlighted-products}{

    @include flex(row,nowrap,center);
    text-align: center;
    
    &__container{
        @include block($black, 100%, 33.33%, 10%);
    }

    &__container--darkgrey{
        @include block($darkgrey, 100%, 33.33%, 10%);
    }

    &__container--grey{
        @include block($grey,  100%, 33.33%, 10%);
    }

    &__container-text{
        font-size: 19px;
        color: $white;
        margin: 3%;
    }

    &__container-icon{
        @include hexagon($white, 110px, 100px);
        margin-left: 22%;
    }
}

.#{$intro}{

    background-color: $white;
    @include flex(row,wrap,space-between);
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;

    &__header{
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    &__paragraphs{
        font-size: 17px;  
        width: 50%;
        height: 50%;
    }

    &__list{
        margin-right: 39%;
    }
}

.#{$showcase}{

    background-color: $grey;
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;

    &__header{
        font-size: 22px;
        text-align: center;
        width: 100%;
    }
    &__right{
        @include flex(column,nowrap,space-between);
    }

    &__preview{
        border: 1px solid $black;
        border-radius: 5%;
        align-self: flex-end;
        margin: 1%;
    }
}

.#{$form}{

    background-color: $white;
    height: 100%;
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    @include flex(row,wrap,flex-end);

    &__header{
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    &__text-input{
        width: 48%;
        height: 9%;
        background-color: $grey;
        margin: 0.5%;
    }

    &__txtarea{
        width: 48%;
        resize: none;
        background-color: $grey;
        margin: 0.5%;
    }

    &__checkbox{
        margin: 0.5%;
    }

    &__button{
        margin: 0.5%;
    }
}

.#{$footer}{
    background-color: $black;
    height: 100%;
    width: 100%;
}