#face {
	stroke:black;
	fill:white;
}

#hour-hand {
	stroke: blue;
	stroke-width: 2px;
}

#minute-hand {
	stroke: black;
	stroke-width: 1px;
}

#second-hand {
	stroke: red;
	stroke-width: 0.5px;
}

.image--hidden {
	display: none;
}

.image--shown {
	display: block;
	position: relative;
	height: 150px;
	width: 150px;
	animation-name: slide-image;
	animation-duration: 2s;
	left: 100px;
}

.#{$navigation}{
	background-color: $grey;
	@include flex(row,nowrap,center);
}

.#{$highlighted-products}{

	@include flex(row,nowrap,center);
	text-align: center;
	
	&__view--black{
		@include block($black, auto, 33.33%, 10%);
	}

	&__view--darkgrey{
		@include block($darkgrey, auto, 33.33%, 10%);
	}

	&__view--grey{
		@include block($grey,  auto, 33.33%, 10%);
	}

	&__view-text {
		font-size: 20px;
		color: $white;
		margin: 3.5%;
	}

	&__view-icon {
		@include hexagon($white, 110px, 100px);
		margin-left: 22.2%;
	}

	/*&__view-icon--middle {
		margin-left: 5%;
		background-color: white;
		height: 200px;
		width: 200px;
		clip-path: circle(50% at 50% 50%);
		border: 5px dotted black;
		border-radius: 110px;
	}*/
}

.#{$intro} {

	background-color: $white;
	@include flex(row,wrap,space-between);
	width: 90%;
	margin-left: 4%;
	margin-right: 4%;

	&__header {
		font-size: 22px;
		text-align: center;
		width: 100%;
	}

	&__paragraphs {
		font-size: 17px;  
		width: 50%;
		height: 50%;
	}
}

.#{$showcase} {

	background-color: $grey;
	width: 90%;
	margin-left: 4%;
	margin-right: 4%;

	&__header {
		font-size: 22px;
		text-align: center;
		width: 100%;
	}
	&__right {
		@include flex(column,nowrap,space-between);
	}

	&__preview {
		border: 1px solid $black;
		border-radius: 5%;
		align-self: flex-end;
		margin: 1%;
		height: 7%;
		width: 7%;
	}
}

.#{$form} {

	background-color: $white;
	height: 100%;
	width: auto;
	margin-left: 4%;
	margin-right: 4%;
	@include flex(row,wrap,center);

	&__header {
		font-size: 22px;
		text-align: center;
		width: 100%;
	}

	&__text-input {
		width: 48.2%;
		height: 8%;
		background-color: $grey;
		margin: 0.4%;
	}

	&__txtarea {
		width: 48%;
		resize: none;
		background-color: $grey;
		margin: 0.4%;
	}

	&__checkbox {
		font-size: 17px;
		font-weight: bold;
	}

	&__button {
		margin: 0.5%;
		align-self: flex-start;
		background-color: $black;
		width: 15%;
		height: 50px;
		color: $white;
		margin-left: 60%;
	}
}

.#{$footer} {
	background-color: $black;
	height: 100%;
	width: 100%;
}

/*.clock{
	margin-left: 5%;
	background-color: white;
	height: 200px;
	width: 200px;
	clip-path: circle(50% at 50% 50%);
	border: 5px dotted black;
	border-radius: 110px;
	animation-name: clock;
	animation-duration: 10s;
}*/

@keyframes clock {
	from{background-color:white}
	to{background-color:red}
}

@keyframes slide-image {
	0% {left:0px;}
	25% {left:25px;}
	50% {left:50px;}
	75% {left:75px;}
	100% {left:100px;}
}