$module-menu: 'menu';
$module-container: 'container';
$module-intro: 'introduction';
$module-showcase: 'showcase';
$module-form: 'form';


$black: #333;
$grey: #C8C8C8;
$red: #fc354c;
$white: #fff;
$darkgrey: #A3A1A1;


